<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388732482459-88rknqvjagiel8f6kca7n0tvqss2fti4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388732482459-88rknqvjagiel8f6kca7n0tvqss2fti4</string>
	<key>API_KEY</key>
	<string>AIzaSyA7HO3E3pcXiz03Cz3eJhseg-PhrqbR3bw</string>
	<key>GCM_SENDER_ID</key>
	<string>388732482459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RnyG.elevateTest</string>
	<key>PROJECT_ID</key>
	<string>elevatetest-5430f</string>
	<key>STORAGE_BUCKET</key>
	<string>elevatetest-5430f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388732482459:ios:40ff735b75dd946351273e</string>
</dict>
</plist>